.app-store-list {
    .card {
        .card-body {
            .card-title {
                text-align: center;
            }
            .card-text {
                text-align: justify;
            }
            .btn {
                display: block;
            }
        }
    }
}